html, body {
  font-family: sans-serif;
  font-weight: normal; 
  margin: 0;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #23527c;
}

header {
  background-color: #444444;
  margin-bottom: 21px; 
  display: flex;
  justify-content: flex-end;
  align-items: flex-end
}

#course_number {
  font-size: x-large;
  color: #bbbbbb;
  text-decoration: none;
  margin-right: auto;
  padding: 15px;
}

#course_number:hover {
  color:white;
}

a.right {
  color: #bbbbbb;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
}

a.right:hover {
  color:white;
}

banner {
  width: 75%;
  justify-content: center;
  display: flex;
}

banner div {
  justify-content: flex-end;
}

#logo {
  width: 100px;
  height: 100px;
}

content {
  display: flex;
  width: 100%;
}

content teaching, announcements, links {
  margin: 0px 15px;
}

content h2 {
  color: #959595; 
}

teaching {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 15em;
}

teaching img {
  margin-bottom: 0;
  width: 150px;
  height: 150px;
}

teaching p {
  margin-top: 0;
}

announcements {
  display: flex;
  flex-direction: column; 
  flex-grow: 1;
}

announcement {
  display: flex;
  flex-direction: column;
  background-color: #eaf2e9;
  border-style: solid;
  border-width: 1px;
  border-color: #c7d1c5;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px; 
}

announcement h3, h6 {
  margin: 0;
}

announcement h3 {
  color: #175e54;
  font-size: medium;
}

announcement h6 {
  font-size: x-small;
}


links {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 15em;
}

footer {
  width: 100%;
  background-color: #f8f8f8;
  color: green;
  font-size: small;
  text-align: center;
}

